
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FindPassword</title>
    <meta content="width =device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
</head>
<body>
    <table>
        <tr>
            <td>@Resources.Language.Request IP:</td>
            <td>@ViewBag.IP</td>
        </tr>
        <tr>
            <td>@Resources.Language.ConfirmCode:</td>
            <td>@ViewBag.Code</td>
        </tr>
    </table>
    <p>@Resources.Language.FindPassword URL: <a href="http://@(Request.Url.Host.ToString() + (Request.Url.Port == 80 ? "" : (":" + Request.Url.Port.ToString())) + Url.Action("Find", "User", new { }))" target="_blank">http://@(Request.Url.Host.ToString() + (Request.Url.Port == 80 ? "" : (":" + Request.Url.Port.ToString())) + Url.Action("Find", "User", new { }))</a></p>
    <br />
    <footer>
        &copy; @Resources.Language.SICAUIEC @DateTime.Now.Year | Powered by Johnwii.Chang
    </footer>
</body>
</html>
