@using PagedList.Mvc;
@using PagedList;
@model IPagedList<OJ_WebApp.Models.Issue>

@{
    ViewBag.Title = Resources.Language.Questions;
    ViewBag.SmallBtn = "<a href='/Admin/AddProblem' class='btn btn-outline btn-primary btn-xs' type='button'>" + Resources.Language.Add + "</a>";
}
<div class="col-lg-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>@Resources.Language.Name</th>
                <th>@Resources.Language.Contained</th>
                <th>@Resources.Language.Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a href="@Url.Action("ProblemDetail", "Admin", new { Id = item.Id })" target="_blank">@item.Title</a></td>
                    <th>@item.Libs.Count</th>
                    <td>
                        <a href="@Url.Action("EditProblem", "Admin", new { @Id = item.Id })" class="btn btn-outline btn-success btn-xs" type="button">@Resources.Language.Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Problem", "Admin", new { page }))
</div>
